:root {
    --brick-color: rgb(186, 220, 13);
}
h1 ,h2 ,h4{
    color: rgb(50, 19, 223);
}
h3{
    text-align: center;
}
.img-navbar {
    width: 80px;
    height: 80px;
}

.carousel .carousel-indicators button {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border-spacing: 150px;
    margin: 1rem;
}

.carousel .carousel-indicators .active {
  width: 1.2rem;
  height: 1.2rem;
}

.accordion .accordion-item .accordion-button {
    background-color: var(--brick-color);
    color: white;
}
.nav-item{
    text-align: center;
}
.card-title{
    text-align: center;
}
.card{
    background-color: aqua;
}
.card-text h3 , h5{
    text-align: center;

}

